:root {
  --navbar-color: white; 
  --small-card-width: max(300px, 30vw);
  --active-theme-color: crimson;
  --body-width: calc(2 * var(--small-card-width) + 1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: var(--body-width);
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--navbar-color);
  justify-content: space-between;
  margin: auto;
  padding-inline: 25vw;
  text-align: center;
  position: sticky;
  top: 0;
}

.navbar-wrapper * {
  cursor: pointer;
}

.navbar-wrapper input {
  cursor: text;
  width: max(20vw, 300px);
  padding: 0.5rem;
}

.navbar-brand {
  font-family: 'Six Caps', sans-serif;
  font-size: 3.75rem;
    font-weight: 700;
}

.cart-indicator{
  color: var(--active-theme-color);
  display: none;
  background-color: var(--active-theme-color);
  width: 20px;
  height: 20px;
  padding: 1rem;
}

/* login modal */
 dialog{
  background-color: var(--active-theme-color);
  text-align: center;
  aspect-ratio: 1;
}

dialog::backdrop {
  background-color: #00000050;
}

.modal-main {
  margin: auto;
  padding: 2rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dialog form * {
  margin: auto;
  width: 200px;
}

/* main page */
.horizontal-list {
  max-height: var(--body-width);
  display: flex;
  overflow-y: auto;
  text-align: center;
  gap: 2rem;
  scroll-behavior:smooth;
}

/* listing */

.normal-card {
  cursor: pointer;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(2 * var(--small-card-width) + 5rem);
    margin-inline: auto;
    gap: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 275px);
}

.small-card {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  width: var(--small-card-width);
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.small-card img, .item-img {
  width: max(150px, 10vw);
  aspect-ratio: 1 !important;
  object-fit: cover;
}

.small-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* details page */
.detailed-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max(500px, 50vw);
  margin-inline: auto;
  gap: 1rem;
}

.detailed-description img{
  object-fit:scale-down;
}

.detailed-description .price {
  color: var(--active-theme-color);
  font-weight: 700;
}

/* create account page */

.create-account-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #ccc;
  padding-block: 8rem;
}

.create-account-form *:not(button) {
  width: 300px;
  margin: auto;
}

/* add to cart */
.add-to-cart-btn, .active-color-btn {
  background-color: var(--active-theme-color);
  color: white;
  max-width: max-content;
}

.page-title-heading {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  border-bottom: 1px solid;
  margin-bottom: 1.5rem;
}


.checkout-btn {
  background-color: orange;
  font-size: 1.5rem;
}

.checkout-btn-highlight {
  position: fixed;
  bottom: 5rem;
  right: 50vw;
  transform: translate(50%);
  padding: 1rem;
  background-color: #88888850;
  box-shadow: 0 0 10px 20px #88888850;
}

.radio-flexbox {
  display: flex;
  justify-content: space-evenly;
}

.center-btn {
  margin-inline: auto;
}